<nav class="grid gap-1 grid-cols-2 font-sans text-left">
    <div class="col-span-1">
        <ol class="flex flex-row space-x-1">
          <li class="bg-slate-400 text-white hover:text-black text-center px-5 border-2 font-bold border-black"><a href="./home.html">Home</a></li>
          <li class="bg-slate-400 text-white hover:text-black text-center px-5 border-2 font-bold border-black"><a href="./status.html">Game Status</a></li>
          <li class="bg-slate-400 text-white hover:text-black text-center px-5 border-2 font-bold border-black"><a href="./money.html">Make Coins</a></li>
          <li class="bg-slate-400 text-white hover:text-black text-center px-5 border-2 font-bold border-black"><a href="./transfer.html">Transfer Funds</a></li>
        </ol>
      </div>
      <div class="col-span-1">
        <div hx-swap="outerHTML" hx-get="/api/users/registerPrompt" hx-trigger="load"></div>
        <div class="bg-slate-400 text-white hover:text-black text-center w-52 float-right border-2 font-bold border-black" hx-get="/api/users/loginPrompt" hx-trigger="load"></div>
    </div>
</nav>
