<!DOCTYPE HTML>
<html>
<head>
  <title>🪙 Coin Game</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--tailwind css-->
  <link href="./index.css" rel="stylesheet">
  <!--htmx import-->
  <script type="module" src="index.js"></script>
</head>
<body class="bg-slate-200">
    <nav class="grid gap-1 grid-cols-2 font-sans">
      <div class="col-span-1">
        <ol class="flex flex-row space-x-1">
          <li class="bg-slate-400 text-white hover:text-black text-center px-5 border-2 font-bold border-black"><a href="./home.html">Home</a></li>
          <li class="bg-slate-400 text-white hover:text-black text-center px-5 border-2 font-bold border-black"><a href="./status.html">Game Status</a></li>
          <li class="bg-slate-400 text-white hover:text-black text-center px-5 border-2 font-bold border-black"><a href="./transfer.html">Transfer Funds</a></li>
        </ol>
      </div>
      <div class="col-span-1">
        <div class="bg-slate-400 text-white hover:text-black text-center w-52 float-right border-2 font-bold border-black" hx-get="/api/users/prompt" hx-trigger="load"></div>
      </div>
    </nav>
    <h1>Home Page</h1>
    <div id="user-info" hx-get="/api/users/info" hx-trigger="load">
    </div>
</body>
</html>